@page "/client/create"
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Create</h3>
<Form ButtonText="Create Client" user="@client"
            OnValidSubmit="@CreateClient" />
@code {
    User client = new User ();
    async Task CreateClient()
    {
        await http.PostAsJsonAsync("api/user", client);
        uriHelper.NavigateTo("clients");
    }
}