@page "/"
@inject HttpClient http
@inject IJSRuntime js
@using Plotly.Blazor.LayoutLib

<h1>Hello!</h1>
<PlotlyChart @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart"/>

@code {
    History[] temp {get;set;}

    PlotlyChart chart {get;set;}
    IList<ITrace> data = new List<ITrace>();
    Config config  = new Config
        {
            Responsive = true
        };
    Layout layout = new Layout
        {
            Title = new Title
            {
                Text = "History Logs :"
            },
            BarMode = BarModeEnum.Stack,
            Height = 500
        };
    protected override async Task OnInitializedAsync()
    {
        await update();
    }

    async Task update(){
        temp = await http.GetFromJsonAsync<History[]>("api/History");
        var val = (from hist in temp where hist.Status == true select hist).ToArray();
        var nval = (from hist in temp where hist.Status == false select hist).ToArray();
        
        await chart.AddTrace(
            new Bar
            {
                X = (from log in val
                    group log by log.Date into logGroup
                    orderby logGroup.Key
                    select logGroup.Key.ToString("dd/MM/yyyy") as object).ToList() ,
                Y = (from log in val
                    group log by log.Date into logGroup
                    orderby logGroup.Key
                    select logGroup.Count() as object).ToList(),
                Name = "Delivered"
            });
        await chart.AddTrace(
            new Bar
            {
                X = (from log in nval
                    group log by log.Date into logGroup
                    orderby logGroup.Key
                    select logGroup.Key.ToString("dd/MM/yyyy") as object).ToList(),
                Y = (from log in nval
                    group log by log.Date into logGroup
                    orderby logGroup.Key
                    select logGroup.Count() as object).ToList(),
                Name = "Not Yet Delivered"
            });
            
    }
}